*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: geograph, Helvetica, sans-serif;
    letter-spacing: 1.3px;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: geograph, Helvetica, sans-serif;
    /* width: 100vw; */
    box-sizing: border-box;
}

/* Navigation bar */
.nav_bar{
    background-color: #fff;
    width: 100vw;
    position: fixed;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #000 1px solid;
}
.nav_bar ul{
    display: flex;
    gap: 20px;
}
.nav_bar ul li a{
        color: #000;
}
.hero{
    margin-top: 40px;
    padding: 60px;
    color: #fff;
    background: url(../img/nike-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    /* width: 100%; */
}
.hero h1{
    font-size: 33px;
    width: 50%;
    line-height: 50px;
}
.hero-end{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-top: 260px;
    text-align: center;
}
.hero-end p{
    padding-bottom: 20px;
    font-size: 30px;
}


/* Features section */
.features-section{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.features{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.features-section h1{
    padding-bottom: 30px;
}
.features-text h2{
    padding-bottom: 10px;
}
.features-main-text{
    padding-bottom: 30px;
    padding-top: 80px;
}
.features-text{
    align-items: center;
    display: flex;
    color: #fff;
}
.features-flex{
    display: flex;
    flex-direction: column;
     align-items: center;
     text-align: center;
     /* position: relative; */
}
.features-flex .btns{
    display: flex;
    margin-top: 200px;
    gap: 10px;
}

 button{
    /* margin-top: 50vh; */
    padding: 10px 50px;
    border: 1px transparent;
    cursor: pointer;   
    transition: 0.2s ease-in-out;
}

button:hover{
  color: #fff;
  background-color: #000000d8;  
}

/* .features img{
    width: 30%;
    gap: 50px;
} */
.a{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/img-1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 8000px;
}
.b{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/img-2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 8000px;
}
.c{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/img-3.avif);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 8000px;
}

/* Half time section */
.h-time{
    background-image: url(../img/img-4.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    line-height: 25px;
}
.h-time h2{
    font-size: 2.5rem;
    padding: 15px 0;
}
.h-time p{
    font-size: 1.2rem;
    padding: 15px 0;
}

/* focused grid section */
.grid-section{
    margin: 20px 0;
}
 .grid{
    margin: 2.3rem;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 1em;
    grid-template-areas: "box1 box1 box1 box2 box3"
     "box1 box1 box1 box4 box5";
 }
 .grid-text{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 2px;
 }
 .grid-text h4{
    font-size: bold;
    font-size: 15px;
 }
 .grid-class{
    align-items: center;
    text-align: center;
 }
 .grid-class-ish{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 50px 50px;
 }
 .grid-text-ish{
    padding-bottom: 30px;
 }
 .grid-text-ish h1{
    font-size: 30px;
    padding-bottom: 10px;
 }
 .grid-class img{
    margin-bottom: 90px 0;
    height: 260px;
 }
 .grid button{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 12px 17px;
 }
.d{
    background-image: url(../img/img-5.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 615px;
    grid-area: box1;
}
.e{
    height: 300px;
    width: 300px;
    background-color: #e9e9e975;
    grid-area: box2;
}
.f{
    height: 300px;
    width: 300px;
    background-color: #e9e9e975;
    grid-area: box3;
}
.g{
    height: 300px;
    width: 300px;
    background-color: #e9e9e975;
    grid-area: box4;
}
.h{
    height: 300px;
    width: 300px;
    background-color: #e9e9e975;
    grid-area: box5;
}
.email-section{
    height: 50vh;
    margin: 70px 0;
    padding: 60px 0;
    align-items: center;
    text-align: center;
    background-color: #d6d1d175;
}
.email-text{
    padding-bottom: 15px;
}
.email h1{
    color: rgb(44, 44, 44);
    font-size: 35px;
    padding-bottom: 30px;
}
.email p{
    font-size: 16px;
    line-height: 20 px;
    padding-bottom: 10px;
    letter-spacing: 1.2px;
}
/* input */
input{
    margin-bottom: 14px;
    margin-right: 3px;
    width: 35vw;
    height: 8vh;
    border: transparent;
    border-bottom: #000 2px solid;
    transition: 0.5s;
}
input:hover{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
}
input::placeholder{
    font-size: 20px;
    font-weight: 800px;
    color: rgba(75, 74, 74, 0.541);
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* for the input button */
#btns{
    height: 8vh;
    color: #fff;
    background-color: #000000d7;
    font-size: 14px;
    text-transform: uppercase;
}
#btns:hover{
    height: 8vh;
    color: #000000d7;
    background-color: #fff;
     box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
}

/* more shoes section */
.more-section{
    margin: 0 20px;
}

.more h1{
    padding: 10px 0;
    text-align: center;
}
.more-shoes{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.more-class{
    height: 400px;
    width: 400px;
    background-color: #e9e9e975;
}

/* More section */
.final-section{
    margin: 40px 0;
    padding: 70px 20px;
    background-color: #e9e9e975;
}
/* More section */
.final{
    /* padding: 20px 15px; */
    color: #C;
}
.final h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.final h2{
    font-size: 25px;
    padding-bottom: 10px;
}
.final-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* footer section */
footer{
    background-color: #000000d7;
    height: 90vh;
    color: #ffffffff;
    padding: 20px;
}
.main-footer{
    display: flex;
    justify-content: left;
}
.footer-main{
    display: flex;
    justify-content: space-between;   
}
.main{
    padding: 20px;
}
.main p{
    font-size: 14px;
    padding-top: 10px;
}
.footer-country-img{
    display: flex;

}
.footer-country-img-text h2{
    padding-bottom: 10px;
}
.footer-country-img{
    height: 70px;
    width: 500px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-end{
    margin-top: 60px;
    line-height: 25px;
    width: 40vw;
}
.footer-end i{
    padding: 10px;
}